@font-face {
  font-family: 'MyFont';
  src: url('../font/iconfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../assert/bg.jpg) repeat center center;
}

