@font-face {
  font-family: 'MyFont';
  src: url('../font/iconfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../assert/bg.jpg) repeat center center;
}

.fs-18 {
  font-size: 18px;
}

.container {
  width: 375px;
  height: 200px;
  background: #000 url(../assert/bg.png) no-repeat center center;
  position: relative;
  &::before {
    content: '\e715';
    width: 20px;
    height: 20px;
    position: absolute;
    right: 2px;
    top: 2px;
    border: 1px solid #aaa;
    font-family: 'MyFont';
    color: #fff;
  }
  h1 {
    color: #fff;
  }
  p {
    color: #fff;
    font-size: 16px;
    font-family: 'MyFont';
  }
}

.list {
  display: flex;
  .item {
    flex:1;
  }
}