<!DOCTYPE html>
<html lang="en">

<head>
  <title>this is webpack2 demo2</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="<%= htmlWebpackPlugin.options.style %>" media="all" rel="stylesheet" type="text/css">
  <% for (var chunk in htmlWebpackPlugin.options.heads) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.heads[chunk]].entry %>"></script>
  <% } %>
</head>

<body>
  <div id="app" class="container">
    <h1>This is captial</h1>
    <p>this is paragraph</p>
  </div>

  <div class="test">
    <p>this is a test text!</p>
    <ul class="list">
      <li class="item">nav-1</li>
      <li class="item">nav-2</li>
      <li class="item">nav-3</li>
    </ul>
  </div>

  <% for (var chunk in htmlWebpackPlugin.options.bodys) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[htmlWebpackPlugin.options.bodys[chunk]].entry %>"></script>
  <% } %>

  <script>
    //此处也可使用jq~
    $('.list').css('list-style','none');
  </script>
</body>

</html>