* {
  margin: 0;
  padding: 0;
}
body {
  max-width: 750px;
  margin: 0 auto;
}
p {
  font-size: 28px;
}
.container {
  width: 750px;
  height: 400px;
  background: #000 url(../assert/bg.png) no-repeat center center;
  position: relative;
  text-align: center;
  h1 {
    color: #fff;
    font-size: 48px;
  }
  p {
    color: #fff;
    font-size: 32px;
  }
}

.list {
  border-bottom: 1px solid #aaa; /*px*/
  display: flex;
  .item {
    flex:1;
  }
}