* {
  margin: 0;
  padding: 0;
}

.container {
  width: 375px;
  height: 200px;
  background: #000 url(../assert/bg.png) no-repeat center center;
  position: relative;
  h1 {
    color: #fff;
  }
  p {
    color: #fff;
    font-size: 16px;
  }
}

.list {
  display: flex;
  .item {
    flex:1;
  }
}